#para .para .left h1,
#formal .formal .left h1 {
    color: #502b18;
}

#para .para .left .title img {
    width: 40%;
}

#para .para .left h1 span {
    font-family: 'allclassguide4';
    font-size: 30px;
    font-style: italic;
}

#para .para p {
    font-family: 'allclassguide3';
    font-size: 20px;
    color: darkblue;
    text-align: justify;
}

#para .para p span {
    font-family: 'allclassguide5';
    color: blue;
    font-size: 21px;
}

#para .para h2 {
    font-family: 'allclassguide5';
    font-size: 30px;
    color: #cd2731;
}

#para .para p.bangla {
    font-family: 'allclassguide5';
    font-size: 21px;
    text-align: justify;
    color: darkblue;
}