@media (min-width: 380px) and (max-width: 575.98px) {
    #banner ul {
        right: 20px;
    }

    #banner .banner {
        padding: 20px 0;
    }

    #banner .banner .text h1 {
        font-size: 50px;
        padding-bottom: 10px;
    }

    #banner .banner .image {
        display: none;
    }

    #banner .banner .text .item .small {
        justify-content: center;
    }

    #banner .banner .text .item .left-1 {
        width: 168px;
    }

    #banner .banner .text .item .right-1 {
        width: 168px;
    }

    #banner .banner .text h1:before,
    #banner .banner .text:after,
    #banner .banner .text:before {
        display: none;
    }

    /* ======================== menu-part ======================== */
    nav ul {
        text-align: center;
    }

    nav .ui-widget input {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
    }

    /* ======================== book-part ======================== */
    #book .book .title h1 {
        font-size: 20px;
        font-weight: 500;
    }

    #book .book .title img {
        width: 50%;
    }
}




@media (min-width: 576px) and (max-width: 767.98px) {
    #banner .banner {
        padding: 20px 0;
    }

    #banner .banner .text h1 {
        padding-bottom: 10px;
    }

    #banner .banner .image {
        display: none;
    }

    #banner .banner .text .item .left-1 {
        width: 255px;
    }

    #banner .banner .text .item .right-1 {
        width: 255px;
    }

    #banner .banner .text h1:before,
    #banner .banner .text:after,
    #banner .banner .text:before {
        display: none;
    }

    /* ======================== menu-part ======================== */
    nav ul {
        text-align: center;
    }

    nav .ui-widget input {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* ======================== book-part ======================== */
    #book .book .title h1 {
        font-size: 25px;
    }

    #book .book .title img {
        width: 55%;
    }
}




@media (min-width: 768px) and (max-width: 991.98px) {
    #banner .banner .image {
        width: 315px;
    }

    #banner .banner .image img {
        top: 10px;
    }

    /* ======================== menu-part ======================== */
    nav ul {
        text-align: center;
    }

    nav .ui-widget input {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* ======================== book-part ======================== */
    #book .book .title h1 {
        font-size: 30px;
    }

    #book .book .title img {
        width: 45%;
    }
}




@media (min-width: 992px) and (max-width: 1199.98px) {
    #banner .banner .image {
        width: 430px;
    }

    #banner .banner .image img {
        top: -25px;
    }
}