* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

@font-face {
    font-family: acg1;
    src: url(../font/MonteCarlo-Regular.ttf);
}

@font-face {
    font-family: acg2;
    src: url(../font/Philosopher-Regular.ttf);
}

@font-face {
    font-family: acg3;
    src: url(../font/STIXTwoText-Regular.ttf);
}

@font-face {
    font-family: acg4;
    src: url(../font/Lipishree\ Unicode.ttf);
}

@font-face {
    font-family: acg5;
    src: url(../font/SolaimanLipi.ttf);
}

body {
    background: url(../images/body-bg.png) #eae6d1;
}

#main .main {
    margin: 15px 0 20px 0;
    padding: 15px 0;
    background: #eae6d1;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(63, 42, 23, 0.3);
    -moz-box-shadow: 0px 0px 5px 2px rgba(63, 42, 23, 0.3);
    box-shadow: 0px 0px 5px 2px rgba(63, 42, 23, 0.3);
    border-radius: 3px;
}

hr {
    margin-top: 10px;
    margin-bottom: 0;
    background: #502b18;
}

/*=======================================================================================
                                    banner-part start
=========================================================================================*/
#banner ul {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

#banner ul .slick-active button {
    background: #502b18;
}

#banner ul li {
    margin: 0 5px;
}

#banner ul li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid #502b18;
}

#banner .slick-prev,
#banner .slick-next {
    display: none !important;
}

#banner .banner {
    background: #dedede;
    padding: 70px 0;
}

#banner .banner .text h1 {
    font-family: 'acg1';
    font-size: 55px;
    text-align: center;
    color: #502b18;
    padding-bottom: 20px;
}

#banner .banner .text .b1 {
    font-family: 'acg4';
    font-size: 45px;
}

#banner .banner .text .item .left {
    text-align: right;
}

#banner .banner .text .item .right {
    text-align: left;
}

#banner .banner .text .item .bl a,
#banner .banner .text .item .br a {
    font-family: 'acg5';
    font-size: 20px;
}

#banner .banner .text .item a {
    display: block;
    font-family: 'acg2';
    font-size: 18px;
    color: #502b18;
}

#banner .banner .text .item a:hover {
    font-weight: bold;
}

#banner .banner .image {
    position: relative;
    width: 525px;
}

#banner .banner .image img {
    position: absolute;
    top: -50px;
    width: 100%;
}

#banner .banner .text h1:after {
    position: absolute;
    content: '';
    top: 60px;
    left: 53%;
    width: 100px;
    height: 2px;
    background: #502b18;
    z-index: 9999;
}

#banner .banner .text h1:before,
#banner .banner .text:after,
#banner .banner .text:before {
    position: absolute;
    content: '';
    top: 50%;
    width: 2px;
    transform: translateY(-50%);
    background: #502b18;
    z-index: 9999;
}

#banner .banner .text h1:before {
    right: 10px;
    height: 90%;
}

#banner .banner .text:after {
    right: 0;
    height: 130%;
}

#banner .banner .text:before {
    right: -10px;
    height: 90%;

}

/*=======================================================================================
                                    banner-part end
=========================================================================================*/

/*=======================================================================================
                                    menu-part start
=========================================================================================*/
nav {
    padding-bottom: 0 !important;
}

nav .navbar-brand {
    width: 60px;
}

nav .navbar-brand img {
    width: 100%;
    margin-left: 15px;
}

nav .nav-item .nav-link {
    color: #502b18 !important;
    font-family: 'acg2';
    font-size: 18px;
}

.navbar-nav>.active>a {
    color: #502b18;
    font-weight: bold;
}

.nav-item>a:hover {
    color: #502b18;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background: #eae6d1;
    border: 1px solid #502b18;
}

.navbar-expand-lg .navbar-nav .dropdown-item {
    font-family: 'acg2';
    font-size: 18px;
}

.navbar-expand-lg .navbar-nav .dropdown-item:hover {
    background: #eae6d1;
    font-weight: bold;
}

.navbar-light .navbar-toggler {
    border-color: #502b18;
}

.navbar-light .navbar-toggler:focus {
    outline: 0;
}

.navbar-light .navbar-toggler i {
    color: #502b18;
}

nav .ui-widget input {
    margin-right: 15px;
    border: 1px solid #502b18;
    background: #eae6d1;
}

nav .ui-widget input:focus-visible {
    outline: 0;
}

.ui-menu {
    font-family: 'acg3';
    font-size: 16px;
    color: #502b18;
    width: 100px;
    background: #eae6d1;
    padding: 0 5px;
    border: 1px solid #502b18;
    border-top: none;
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
}

.ui-menu .ui-menu-item:hover {
    font-weight: bold;
    cursor: pointer;
}

/*=======================================================================================
                                    menu-part end
=========================================================================================*/

/*=======================================================================================
                                    book-part start
=========================================================================================*/
#book {
    margin-top: 10px;
}

#book .book {
    background: #dedede;
    padding: 15px;
}

#book .book.even {
    background: #eae6d1;
    padding: 15px;
}

#book .book .title {
    display: flex;
    justify-content: space-between;
}

#book .book .title h1 {
    font-family: 'acg1';
    font-size: 40px;
    color: #502b18;
    font-weight: bold;
}

#book .book .bangla h1 {
	font-family: 'acg4';
	font-size: 40px;
	color: #502b18;
	font-weight: bold;
}

#book .book .title img {
    width: 40%;
}

#book .book .item img {
    margin: 20px 0;
    padding: 0 10px;
    width: 100%;
}

#book .book .item .prev {
    color: #502b18;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 9999;
}

#book .book .item .next {
    color: #502b18;
    font-size: 40px;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 9999;
}

/*=======================================================================================
                                    book-part end
=========================================================================================*/